/node_modules
/public/hot
/public/storage
/public/theme
/public/_start
/public/_resources
/public/_documentation
/public/theme_rtl
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
